* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

@media (max-aspect-ratio:7/10) {

    .joinContainer>.imgBox>img {
        width: 45vw;
    }


    .joinContainer>h1 {
        font-size: 10vw;
    }

    #joinInput {
        width: 70vw;
        font-size: 5vw;
    }

    .joinbtn {
        width: 70vw;
        padding: 1.5vmax;
        font-size: 5vw;
        transition: all .3s ease;

        &:hover {
            background-color: rgb(169, 17, 47);
        }
    }


    .chatContainer {
        background-color: #fff;
        height: 100% !important;
        width: 100% !important;

    }

    .header {
        height: 10% !important;

        >h2 {
            margin: 8vw !important;
            color: rgb(255, 255, 255);
            font-size: 5vw !important;
        }

        >a>img {
            margin: 6vw !important;
            transform: scale(3) !important;

            &:hover {
                transform: scale(3.4) !important;
            }
        }
    }

    .chatBox {
        height: 80% !important;
    }

    .inputBox {
        height: 10% !important;
    }

    #chatInput {
        padding: 4vw !important;
        font-size: 4vw !important;
    }

    .messageBox {
        /* width: initial !important; */
        padding: 3vw !important;
        border-radius: 1.5vw !important;
        font-size: 4vw !important;
    }


}